<div class="jumbotron jumbotron-fluid" style="background-image:url(<%= @list.movies.sample.poster_url %>);">
</div>
<div class="container">
  <div class="list-title h4">
    
    <%=  @list.name %>
  </div>
  <p class="lead">
    <%= @list.movies.count %> movies
  </p>
</div>
