.jumbotron {
  height: 60vh;
  background-size: cover;
}

.list-title {
  z-index: 10;
  font-weight: bold;
  height: 120px;
  width: 120px;
  text-align: center;
  line-height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  opacity: .4;
  background-color: rebeccapurple;
  background: linear-gradient(145deg, rgb(177, 180, 189), rgb(149, 151, 159));
  box-shadow:  5px 5px 29px rgb(120, 123, 129),
               -5px -5px 29px rgb(210, 213, 225);
}

.list-title:hover {
  opacity: .9;
}