.jumbotron {
  height: 60vh;
  background-size: cover;
}

.list-title {
  z-index: 10;
  font-weight: bold;
  height: 120px;
  width: 120px;
  text-align: center;
  line-height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rebeccapurple;
}