<%= simple_form_for(movie, remote: true,  html: {data: { add_movie_target: "form"}, class: "search-form"}) do |f| %>
  <h5 class="text-center my-2"><strong>Have something on mind!Feel free</strong></h5>    
  <%= f.input :title, input_html: { "data-add-movie-target": "input", class:"search-input" } %>
  <%= f.submit 'Search and Add', class: "btn btn-primary", data: {add_movie_target: "submit",action: 'click->add-movie#update' } %>
<% end %>